---

import Layout from '@layouts/Layout.astro'
import { ReactTest } from '@react/ReactTest.jsx'
import { typescriptTest } from '@components/header';
import SvelteTest from '@svelte/SvelteTest.svelte';
---

<Layout>
    <ReactTest>
        <h1>inside react</h1>
        { typescriptTest }
        <SvelteTest>
            <h1>inside svelte</h1>
        </SvelteTest>
    </ReactTest>
</Layout>