---
import { ReactTest } from "@components/react/ReactTest";
import SvelteTest from "@components/svelte/SvelteTest.svelte";
import Layout from "@layouts/Layout.astro";

const title = "Teun Lamers — Home page"
const description = "A personal homepage of Teun Lamers"
---

<Layout title={title} description={description}>
  <div class="flex justify-center h-screen bg-gray-200">
    <div class="container">
      <ReactTest />
      <SvelteTest client:load/>
    </div>
  </div>
</Layout>